@{
    ViewBag.Title = "About";
}
<div id="app">
    <div class="container">
        <div>

        </div>
        <div class="row">
            <div class="col-md-2">
                <span class="">姓名</span>
            </div>
            <div class="col-md-10">
                <span>康良红</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span>年龄</span>
            </div>
            <div class="col-md-10">
                <span>26</span>
            </div>
        </div>
    </div>
  
</div>